@charset "utf-8";

body{
    background: linear-gradient(96deg, rgb(222, 146, 224), rgb(85, 228, 238));
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 6px solid rgb(78, 226, 231);
    border-radius: 8px;
    padding: 2rem;
}

form div{
    margin-top: 1em;
}


label {
    display: inline-block;
    width: 90px;
    text-align: right;
}



input:focus{
    border-color: #000;
}

form input[type="submit"] {
    cursor: pointer;
}
 
.botao{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 3px solid rgb(137, 205, 245);
    color: black;
    border-radius: 10px;
    margin: 5px 0;
}

form input{
    font: 1em sans-serif;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    border: 3px solid rgb(137, 205, 245);
}
